@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box;
}

.titulo-destaque{
    color: #22D4FD;
}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 18%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;;
}

.presentacion__enlances{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlances__subtitle{
    font-family: "krona one", sans-serif;
    font-size: 24px;
    font-weight: 400;
} 


.presentacion__enlances__link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8%;
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlances__link:hover{
    background-color: #272727;
}

.footer{
    background-color: #22D4FD;
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

